@page "/fetchprojectmapping"

@using Task1.Shared.Models;

<h1>Project Mapped Data</h1>

<div class="row">
    <div class="col-md-6">
        <a href='/projectmapping/add' class="btn btn-primary" role="button">
            <i class="fas fa-project-plus"></i>
            Map User to Project
        </a>
    </div>
    <div class="input-group col">
        <input type="text" class="form-control" placeholder="Search User by name"
               @bind="SearchString" @bind:event="oninput" @onkeyup="Filter" />
        @if (SearchString.Length > 0)
        {
            <div class="input-group-append">
                <button class="btn btn-danger" @onclick="ResetSearch">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        }
    </div>
</div>
<br />
@if (projectMappList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
              
                <th>User</th>
                 <th>Project</th>
                 <th>Notes</th>
                 <th>Actions</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var projmap in projectMappList)
            {
                <tr>
                    <td>@(userDetailList.Where(x => x.Id == @projmap.UserID).FirstOrDefault().Name)</td>
                    <td>@(projectList.Where(x => x.Id == @projmap.ProjectID).FirstOrDefault().ProjectName)</td>
                    <td>@projmap.Note</td>
                    
                   
                    <td>
                        <a href='/projectmapping/edit/@projmap.Id' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                        <a href='/projectmapping/delete/@projmap.Id' class="btn btn-outline-danger" role="button">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>   

}

