@page "/fetchuserdetails"

@using Task1.Shared.Models

@using Task1.Api.Interface
<h1>User Data</h1>

<div class="row">
    <div class="col-md-6">
        <a href='/userdetails/add' class="btn btn-primary" role="button">
            <i class="fas fa-project-plus"></i>
            Add User Info
        </a>
    </div>
    <div class="input-group col">
        <input type="text" class="form-control" placeholder="Search User by name"
               @bind="SearchString" @bind:event="oninput" @onkeyup="FilterUsers" />
        @if (SearchString.Length > 0)
        {
            <div class="input-group-append">
                <button class="btn btn-danger" @onclick="ResetSearch">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        }
    </div>
</div>
<br />
@if (userList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
              
                <th>Name</th>
                <th>Designation</th>
                 <th>Date Of Birth</th>
                 <th>Gender</th>
                 <th>Actions</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var user in userList)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Designation</td>
                    <td>@user.DOB</td>
                    <td>@Enum.GetName(typeof(Gender),int.Parse(@user.Gender))</td>
                    <td>@user.Id</td>
                   
                    
                    <td>
                        <a href='/userdetails/edit/@user.Id' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                        <a href='/userdetails/delete/@user.Id' class="btn btn-outline-danger" role="button">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
